
<div class="container text-center py-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Create a new restaurantâ• </h1>
    </div>
  </div>
</div>


<div class="container text-center py-5">
  <div class="row">
    <div class="col">
      <%= simple_form_for [ @restaurant ] do |f| %>
        <%= f.input :name %>
        <%= f.input :category, collection: Restaurant::CATEGORIES %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
